* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 15px 10px;
    background: #f2f2f2;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style-type: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #e0e0e0;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #d3d3d3;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #4caf50;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-bottom: 2px solid #f44336;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #f44336;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #d32f2f;
  }
  